*{
    margin: 0;
    padding: 0;
    color: #DBEDF3;
    font-family: 'Roboto', sans-serif;
}

.contain{
    height: 350px;
    width: 360px;
    background-color: #00224D;
    padding-top: 25px;
    border-radius: 8px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.4);
}
body{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: #021025;

}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice{
    font-size: 60px;
    font-weight: 10;
    padding: 20px;
}
.choice:hover i{
    color: #f6fefe;
    
}
.score{
    width: 60px;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00224D;
    margin: 10px;
}
.score p{
    font-size: 20px;
    font-weight: 400;
}
.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    
}

#msg{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(64, 75, 104);
    box-shadow: 0 6px 15px rgba(49, 56, 75, 0.4);
}

